<%- include('header') %>

    <div class="container mt-5" style="max-width: 400px;">
        <h3 class="mb-3">Đăng nhập</h3>

        <form method="POST" action="/dangnhap">
            <div class="mb-3">
                <label for="TenDangNhap" class="form-label">Tên đăng nhập</label>
                <input type="text" id="TenDangNhap" name="TenDangNhap" class="form-control" required />
            </div>

            <div class="mb-3">
                <label for="MatKhau" class="form-label">Mật khẩu</label>
                <input type="password" id="MatKhau" name="MatKhau" class="form-control" required />
            </div>

            <button type="submit" class="btn btn-primary">Đăng nhập</button>
        </form>
    </div>

    <%- include('footer') %>