<!-- views/error.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Lỗi</h1>
    <p>Đã xảy ra lỗi. Vui lòng thử lại sau.</p>
    <a href="/">Quay về trang chủ</a>
</body>

</html>