<div class="mb-3">
    <a href="/khoa" class="btn btn-outline-secondary btn-sm me-2">
        <i class="bi bi-building"></i> Quản lý khoa
    </a>
    <a href="/nganh" class="btn btn-outline-secondary btn-sm me-2">
        <i class="bi bi-diagram-3"></i> Quản lý ngành học
    </a>
    <a href="/lop" class="btn btn-outline-secondary btn-sm me-2">
        <i class="bi bi-diagram-3"></i> Quản lý lớp
    </a>
    <a href="/monhoc" class="btn btn-outline-secondary btn-sm me-2">
        <i class="bi bi-diagram-3"></i> Quản lý môn học
    </a>
    <a href="/diemrenluyen" class="btn btn-outline-secondary btn-sm me-2">
        <i class="bi bi-diagram-3"></i> Quản lý điểm rèn luyện
    </a>
    <a href="/hocky" class="btn btn-outline-secondary btn-sm me-2">
        <i class="bi bi-diagram-3"></i> Quản lý học kỳ
    </a>
    <a href="/khoahoc" class="btn btn-outline-secondary btn-sm me-2">
        <i class="bi bi-diagram-3"></i> Quản lý khoá học
    </a>
    <a href="/taikhoan" class="btn btn-outline-secondary btn-sm">
        <i class="bi bi-diagram-3"></i> Quản lý tài khoản
    </a>
</div>